export(bmgm_gp)
export(get_names_graph)
export(context_spec_graph)
export(categories_graph)
export(split_X_cat)
export(find_lambda)
export(F_transformation)
export(kernel_se)
export(compute_Cj_var)
export(compute_Sigma_Y)
export(update_beta_j)
export(update_beta_0)
export(update_tau_w)
export(predict_jbmgm)
importFrom(stats, cov, dbeta, dbinom, dgamma, dist, dnorm, dpois, model.matrix, rbinom, rgamma, rnorm, runif, sd, var)
importFrom(mvtnorm, dmvnorm)
